Repository muhandojeon/Grokking-Simplicity, pull requests merged in 2024-04, with the labels that each got.

#1 [오혜성] 챕터 1: 쏙쏙 들어오는 함수형 코딩에 오신 것을 환영합니다
  챕터_1/오혜성.md
Labels: 챕터_1

#2 [오혜성] 챕터 2: 현실에서의 함수형 사고
  챕터_2/오혜성.md
Labels: 챕터_2

#4 [김동규] 챕터 2: 현실에서의 함수형 사고
  챕터_2/챕터2:김동규.md
Labels: 챕터_2

#30 [김동규] 챕터 3: 액션과 계산, 데이터의 차이를 알기
  챕터_3/챕터3:김동규.md
Labels: 챕터_3

#31 [김동규] 챕터 4: 액션에서 계산 빼내기
  챕터_4/챕터4:김동규.md
Labels: 챕터_4

#32 [김동규] 챕터 5: 더 좋은 액션 만들기
  챕터_5/챕터5:김동규.md
Labels: 챕터_5
