Repository muhandojeon/Grokking-Simplicity, pull requests merged in 2024-11, with the labels that each got.

#66 [노예찬] 챕터 12: 함수형 반복
  챕터_12/노예찬.md
Labels: 챕터_12

#67 [노예찬] 챕터 13: 함수형 도구 체이닝 , 챕터 14: 중첩된 데이터에 함수형 도구 사용하기
  챕터_13/노예찬.md
  챕터_14/노예찬.md
Labels: 챕터_13, 챕터_14

#71 [정대윤] 챕터 12: 함수형 반복
  챕터_12/정대윤.md
Labels: 챕터_12

#72 [정대윤] 챕터 13: 함수형 도구 체이닝
  챕터_13/정대윤.md
Labels: 챕터_13
