Repository muhandojeon/Grokking-Simplicity, pull requests merged in 2024-06, with the labels that each got.

#81 [오혜성] 챕터 17: 타임라인 조율하기
  챕터_17/오혜성.md
Labels: 챕터_17

#79 [오혜성] 챕터 19: 함수형 프로그래밍 여행에 앞서
  챕터_19/오혜성.md
Labels: 챕터_19

#63 [박상범] 챕터 12: 함수형 반복
  챕터_12/상범.md
Labels: 챕터_12

#64 [박상범] 챕터 13: 함수형 도구 체이닝
  챕터_13/상범.md
Labels: 챕터_13

#65 [박상범] 챕터 14: 중첩된 데이터에 함수형 도구 사용하기
  챕터_14/상범.md
Labels: 챕터_14
