Repository muhandojeon/Grokking-Simplicity, pull requests merged in 2024-05, with the labels that each got.

#17 [오혜성] 챕터 3: 액션과 계산, 데이터의 차이를 알기
  챕터_3/오혜성.md
Labels: 챕터_3

#19 [오혜성] 챕터 4: 액션에서 계산 빼내기
  챕터_4/오혜성.md
Labels: 챕터_4

#20 [오혜성] 챕터 5: 더 좋은 액션 만들기
  챕터_5/오혜성.md
Labels: 챕터_5

#44 [오혜성] 챕터 6: 변경 가능한 데이터 구조를 가진 언어에서 불변성 유지하기
  챕터_6/오혜성.md
Labels: 챕터_6

#45 [오혜성] 챕터 7: 신뢰할 수 없는 코드를 쓰면서 불변성 지키기
  챕터_7/오혜성.md
Labels: 챕터_7

#50 [오혜성] 챕터 8: 계층형 설계 1
  챕터_8/오혜성.md
Labels: 챕터_8

#51 [오혜성] 챕터 9: 계층형 설계 2
  챕터_9/오혜성.md
Labels: 챕터_9

#56 [오혜성] 챕터 10: 일급 함수 1
  챕터_10/오혜성.md
Labels: 챕터_10

#57 [오혜성] 챕터 11: 일급 함수 2
  챕터_11/오혜성.md
Labels: 챕터_11

#6 [서준환] 챕터 1: 쏙쏙 들어오는 함수형 코딩에 오신 것을 환영합니다
  챕터_1/서준환.md
Labels: 챕터_1

#7 [서준환] 챕터 2: 현실에서의 함수형 사고
  챕터_2/서준환.md
Labels: 챕터_2

#8 [노예찬] 챕터 1: 쏙쏙 들어오는 함수형 코딩에 오신 것을 환영합니다
  챕터_1/노예찬.md
Labels: 챕터_1

#9 [노예찬] 챕터 2: 현실에서의 함수형 사고
  챕터_2/노예찬.md
Labels: 챕터_2

#10 [권오연] 챕터1: 쏙쏙 들어오는 함수형 코딩에 오신 것을 환영합니다.
  챕터_1/권오연.md
Labels: 챕터_1

#11 [권오연] 챕터2: 현실에서의 함수형 사고
  챕터_2/권오연.md
Labels: 챕터_2

#12 [정대윤] 챕터 1: 쏙쏙 들어오는 함수형 코딩에 오신 것을 환영합니다.
  챕터_1/정대윤.md
Labels: 챕터_1

#13 [정대윤] 챕터 2: 현실에서의 함수형 사고
  챕터_2/정대윤.md
Labels: 챕터_2

#16 챕터 1 2 정리
  챕터_1/README.md
  챕터_2/README.md
Labels: 챕터_1, 챕터_2

#21 [이유희] 챕터 3: 액션과 계산, 데이터의 차이를 알기
  챕터_3/이유희.md
Labels: 챕터_3

#25 [이유희] 챕터 4: 이름 액션에서 계산 빼내기
  챕터_4/이유희.md
Labels: 챕터_4

#26 [이유희] 챕터 5: 더 좋은 액션 만들기
  챕터_5/이유희.md
Labels: 챕터_5

#27 [박상범] 챕터 3: 액션과 계산, 데이터의 차이를 알기
  챕터_3/상범.md
Labels: 챕터_3

#28 [박상범] 챕터 4: 액션에서 계산 빼내기
  챕터_4/상범.md
Labels: 챕터_4

#29 [박상범] 챕터 5: 더 좋은 액션 만들기
  챕터_5/상범.md
Labels: 챕터_5

#34 [노예찬] 챕터 4: 액션에서 계산 빼내기
  챕터_4/노예찬.md
Labels: 챕터_4

#35 [노예찬] 챕터 5: 더 좋은 액션 만들기
  챕터_5/노예찬.md
Labels: 챕터_5

#33 [노예찬] 챕터3 : 액션과 계산, 데이터의 차이를 알기
  챕터_3/노예찬.md
Labels: 챕터_3

#36 [권오연] 챕터3: 액션과 계산, 데이터의 차이를 알기
  챕터_3/권오연.md
Labels: 챕터_3

#39 [김동규] 챕터 6: 변경 가능한 데이터 구조를 가진 언어에서 불변성 유지하기
  챕터_6/챕터6:김동규.md
Labels: 챕터_6

#40 [김동규] 챕터 7: 신뢰할 수 없는 코드를 쓰면서 불변성 지키기
  챕터_7/챕터7:김동규.md
Labels: 챕터_7

#41 [박상범] 챕터 6: 변경 가능한 데이터 구조를 가진 언어에서 불변성 유지하기
  챕터_6/상범.md
Labels: 챕터_6

#42 [박상범] 챕터 7: 신뢰할 수 없는 코드를 쓰면서 불변성 지키기
  챕터_7/상범.md
Labels: 챕터_7

#46 [노예찬] 챕터8 : 계층형 설계1
  챕터_8/노예찬.md
Labels: 챕터_8

#47 [노예찬] 챕터9 : 계층형 설계2
  챕터_9/노예찬.md
Labels: 챕터_9

#48 [권오연] 챕터9: 계층형 설계2
  챕터_9/권오연.md
Labels: 챕터_9

#49 [권오연] 챕터8: 계층형 설계1
  챕터_8/권오연.md
Labels: 챕터_8

#54 [박상범] 챕터 10: 일급 함수 1
  챕터_10/상범.md
Labels: 챕터_10

#55 [박상범] 챕터 11: 일급 함수 2
  챕터_11/상범.md
Labels: 챕터_11

#58 [노예찬] 챕터 10: 일급 함수 1
  챕터_10/노예찬.md
Labels: 챕터_10

#59 [노예찬] 챕터 11: 일급 함수 2
  챕터_11/노예찬.md
Labels: 챕터_11

#60 [정대윤] 챕터10: 일급 함수1, 챕터 11: 일급 함수2
  챕터_10/정대윤.md
  챕터_11/정대윤.md
Labels: 챕터_10, 챕터_11

#61 [정리] 챕터10: 일급 함수1
  챕터_10/정리.md
Labels: 챕터_10

#62 [정리] 챕터11: 일급 함수2
  챕터_11/정리.md
Labels: 챕터_11

#68 [오혜성] 챕터 12: 함수형 반복
  챕터_12/오혜성.md
Labels: 챕터_12

#69 [오혜성] 챕터 13: 함수형 도구 체이닝
  챕터_13/오혜성.md
Labels: 챕터_13

#70 [오혜성] 챕터 14: 중첩된 데이터에 함수형 도구 사용하기
  챕터_14/오혜성.md
Labels: 챕터_14
